<div id="first-goal">
	<%= render :partial => 'goals/form' %>
</div>

<div id="inspiration">
<% @inspiration.each_with_index do |inspiration,i| %>
	<% if i % 2 == 0 %>
		<i><%= inspiration %></i>
	<% else %>
		<%= inspiration %>
	<% end %>
<% end %>
</div>