// Place all the styles related to the Commitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";

#days {
	position: relative;
	float: left;
	width: 550px;
	div.row {
		cursor: pointer;
	}
	div.row:hover {
		span.note {
			padding-right: 18px;
			background: image-url('edit.png') right no-repeat;
		}
	};
	a.day {
		color: white;
		background-color: #ccc;
		width: 30px;
		height: 30px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		line-height: 30px;
		margin: 2px;
	}
	.active {
		a.day {
			height: 60px;
			width: 60px;
			line-height: 60px;
			font-size: 36px;
		}
		span { display: none; }
	}
	.today a.day {
		background-color: #d26421;
		color: #e9b190;
	}
	.checked-in a.day {
		color: #88d6d3;
		background-color: #13ada7;
	}	
}

#check-in-form {
	background-color: #edb194;
	height: 56px;
	padding: 2px 8px;
	margin-top: 2px;
	position: absolute;
	width: 455px;
	right: 0;
	top: 0;
	text-align: center;
	#check_in_note { 
		outline: none;
		width: 315px;
		padding: 12px 5px;
		@include border-radius(0);
	}
	.btn {
		border: 1px solid #e38c58;
	}
	i.tip {
		display: block;
		width: 10px;
		height: 21px;
		background: image-url('tip_salmon.png') no-repeat;
		position: absolute;
		top: 20px;
		left: -10px;
	}
}

#social {
	float: right;
	min-height: 425px;
	width: 425px;
	background: image-url('dot.png') repeat-y;
	padding-left: 25px;
}

#user {
	height: 100px;
	img.avatar {
		width: 80px;
		height: 80px;
		margin-right: 20px;
		border: 1px solid #cccccc;
		float: left;
	}
	h2 {
		color: #13ada7;
		margin-top: 3px;
		margin-bottom: 5px;
	}
	h3 {
		display: block;
	}
	.ribbon {
		display: block;
		float: left;
		margin-right: 5px;
	}
}

.ribbon {
	width: 30px;
	height: 35px;
	background: image-url('ribbon.png') no-repeat;
	display: inline-block;
	position: relative;
	line-height: 30px;
	text-align: center;
	padding-right: 8px;
	color: white;
	font-family: 'Cherry Cream Soda', cursive;
}

.hint {
	font-size: 12px;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #bab8b8;
}

#my-commitments > a {
	line-height: 34px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 22px;
	display: block;
}

i.icon {
	@include border-radius(5px);
	background-color: #d9cd44;
	width: 34px;
	height: 34px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

.no-avatar {
	vertical-align: middle;
	width: 52px;
	height: 52px;
	margin-right: 10px;
}
