@import "compass";

#login-options {
	position: relative;
	width: 960px;
	height: 600px;
	margin: auto;
	>div {
		vertical-align: middle;
	}
}

#sso {
	width: 400px;
	margin-top: 210px;
	float: left;
	text-align: center;
	padding-left: 50px;
}

#facebook-connect {
	display: inline-block;
	width: 300px;
	height: 40px;
	@include replace-text('fb-connect.png');
	margin-bottom: 10px;
}

#facepile {
	margin-top: 50px;
}

#or {
	margin-top: 80px;
	text-align: center;
	width: 60px;
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 28px;
	color: #d9ce00;	
	text-align: center;
	line-height: 50px;
	i {
		width: 5px;
		height: 200px;
		@include hide-text();
		background: image-url('dot.png') repeat-y;
		display: inline-block;
	}
	float: left;
}

#login {
	width: 410px;
	float: left;
	padding-left: 40px;
	margin-top: 180px;
}