@import "compass/css3/images";

body {
	background-color: #fdfcf5;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}

a {
	text-decoration: none;
	color: #c04800;
}

h2 {
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 28px;
	color: #d9ce00;
	display: inline-block;
}

h3 {
	font-family: 'Cherry Cream Soda', cursive;
	font-size: 18px;
	color: #d9ce00;
	display: inline-block;
}

#header {
	a {
		color: white;
	}
	color: white;	
	height: 50px;
	line-height: 50px;
	background-color: #00b3ac;
	@include background(
		linear-gradient(top, #00b3ac, #00b3ac 49%, #00aea7 50%, #00aea7)
	);
	h1 {
		position: absolute;
		left: 15px;
		font-size: 28px;
		font-family: 'Cherry Cream Soda', cursive;
		span {
			color: #c1ecea;
		}		
	}
	#right-nav {
		position: absolute;
		right: 15px;
	}
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1001;
}

#content {
	width: 1024px;
	min-height: 500px;
	margin: auto;
	margin-top: 40px;
	position: relative;
}

#main { 
	width: 420px;
}

#footer {
	background-color: #d9cd44;
	padding: 10px 15px;
	a {
		color: white;
	}	
}